// Basic Pixel

// Width
.wp-1{
  width: $pxl-1
}
.wp-2{
  width: $pxl-2
}
.wp-3{
  width: $pxl-3
}
.wp-4{
  width: $pxl-4
}
.wp-5{
  width: $pxl-5
}
.wp-6{
  width: $pxl-6
}
.wp-7{
  width: $pxl-7
}
.wp-8{
  width: $pxl-8
}
.wp-9{
  width: $pxl-9
}
.wp-10{
  width: $pxl-10
}
.wp-20{
  width: $pxl-20
}
.wp-30{
  width: $pxl-30
}
.wp-40{
  width: $pxl-40
}
.wp-50{
  width: $pxl-50
}
.wp-60{
  width: $pxl-60
}
.wp-70{
  width: $pxl-70
}
.wp-80{
  width: $pxl-80
}
.wp-90{
  width: $pxl-90
}
.wp-100{
  width: $pxl-100
}
.wp-150{
  width: $pxl-150
}
.wp-200{
  width: $pxl-200
}
.wp-250{
  width: $pxl-250
}
.wp-300{
  width: $pxl-300
}

// Height
.hp-1{
  height: $pxl-1
}
.hp-2{
  height: $pxl-2
}
.hp-3{
  height: $pxl-3
}
.hp-4{
  height: $pxl-4
}
.hp-5{
  height: $pxl-5
}
.hp-6{
  height: $pxl-6
}
.hp-7{
  height: $pxl-7
}
.hp-8{
  height: $pxl-8
}
.hp-9{
  height: $pxl-9
}
.hp-10{
  height: $pxl-10
}
.hp-20{
  height: $pxl-20
}
.hp-30{
  height: $pxl-30
}
.hp-40{
  height: $pxl-40
}
.hp-50{
  height: $pxl-50
}
.hp-60{
  height: $pxl-60
}
.hp-70{
  height: $pxl-70
}
.hp-80{
  height: $pxl-80
}
.hp-90{
  height: $pxl-90
}
.hp-100{
  height: $pxl-100
}
.hp-150{
  width: $pxl-150
}
.hp-200{
  width: $pxl-200
}
.hp-250{
  width: $pxl-250
}
.hp-300{
  width: $pxl-300
}