// Bootstrap Utilities extension

// ----------------------- BUTTON ------------------------ //
// https://getbootstrap.com/docs/5.0/components/buttons/
.btn-primary-transparent{
  color: $primary;
  padding-left: 0;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-right: 0;
  font-weight: 600;
  text-decoration: none;
  transition: .2s ease-in-out 0s;

  &:hover,
  &:focus{
    color: $primary-dark;
  }

}